<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>dreamHome</h1>
      </a>

    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="后台管理" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home">欢迎进入</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="轴线" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/timeline">列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/timeline/create">新增</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="日记" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>新增</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="博文" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>新增</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="项目" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>新增</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="观影" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>新增</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="邮盒" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>新增</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="想法" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>新增</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>


  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span class="breadcrumb-warp">
          <nz-breadcrumb>
            <nz-breadcrumb-item>
              后台管理
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
              <a>时间线</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
              列表
            </nz-breadcrumb-item>
        </nz-breadcrumb>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
